# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

venv/
.env/
.env
sklearn-env/

# Ignore Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd


# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore data (if large dataset downloaded locally, specify explicitly if needed)
data/
datasets/

# Ignore model checkpoints or embeddings (big binary files)
*.pt
*.bin
*.model
*.joblib
*.pkl

API_KEYS